############################################
# Ignore all folder
############################################
log/
pkg/
src/

############################################
# Ignore executable build binary
############################################
spider_server
spider_server_mac